
.info {
    text-align: center;
    width: max(30%, 200px);
    margin: 20px 0;
}

.info p {
    font-weight: 800;
}

@media screen and (max-width: 875px) {
    .info {
        width: 45%;
    }
}

@media screen and (max-width: 650px) {
    .info {
        width: 100%;
    }
}