.map-container {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
}

#map-style {
    height: 90%;
    border-radius: 20px;
}

.map-title{
    margin-bottom: 10px;
}

.map-labels {
    margin-left: 20px;
}

.map-labels p{
    position: relative;
}

.map-labels p::before {
    content: '';
    position: absolute;
    top: 3px;
    left: -20px;
    height: 15px;
    width: 15px;
    background: red;
}

.map-labels p:nth-child(1)::before {
    background: #BD0026;
}

.map-labels p:nth-child(2)::before {
    background: #FFEDA0;
}

@media screen and (max-width: 640px){
    .map-title {
        flex-direction: column;
        align-items: flex-start ;
    }

    #map-style {
        height: 85%;
    }

    .map-container {
        height: 600px;
    }
}